<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
                <h2>Resume List from Database</h2>
            </div>
        </div>
        {% for profile in profile %}
        <div class="row">
            <div class="col-md-6">
                {{profile.id}}. {{profile.name}}
            </div>
            <div class="col-md-6">
                <!-- Tagging the href to id, gives the downloading option-->
                <a href="/{{profile.id}}" class="btn btn-warning">Download CV</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>